<h1><%= @post.title  %> by <%= @post.user.username  %></h1>

<div class="Contentbox">
  Content:
  <br>
  <%= @post.content %>
</div>

  <% if @post.user == current_user %>
    <a href="<%= edit_post_url  %>">Edit Post</a>
  <% end %>
